// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');

$main_font_handwritten: 'Great Vibes', cursive;
$text_font: 'Raleway', sans-serif;
$site_background_color:#DADADA;
$jumbotron_background_color:#e9ecef;
$navbar_background_color:#343a40;

body{
  background-color: $site_background_color;
}

// Main menu
.original-color{
  background-color:$navbar_background_color;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition:0.2s;
  -webkit-transition: 2s;
  .navbar-toggler-icon{
    font-size: 1.15rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5.0rem;
    i{
      color:$navbar_background_color;
    }
  }
  .active{
    color:white;
  }
  .nav-link{
    color:#999999;
    transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition:0.1s;
    -webkit-transition: 0.1s;
  }
  .nav-link:hover{
    color:white;
  }
  .navbar-brand{
    color:whitesmoke;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition:0.2s;
    -webkit-transition: 0.2s;
  }
  .social-icons-box{
    padding-right:3.9em;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition:0.4s;
    -webkit-transition: 0.4s;
    .social-icon{
      position:relative;
      margin-left:0.5em;
      margin-right:0.5em;
      color:$jumbotron_background_color;
    }

    .social-icon i:hover{
      color:white;
    }
    .social-icon:active{
      top:5px;
    }
  }
}
.card{

  .card-top-wrapper > .box-hover{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 100;
    top: 0;
    visibility: hidden;
    a{
      width: 70%;
      padding: 0.4em;
      background-color: transparent;
      border: 4px solid white;
      text-align: center;
      color: white;
      margin: 0 auto;
      text-decoration: none;
      position: relative;
      top: 40%;
      left: 26%;
    }
    a:hover{
      background-color: white;
      color:black;
    }
  }
  .card-top-wrapper:hover > .box-hover{
    visibility: visible;
  }
}
.other-color{
  background-color: white;
  color:$navbar_background_color;
  box-shadow: black 0 0 3px;
  .nav-link{
    color:#999999;
  }
  .nav-link:hover{
    color:$navbar_background_color;
  }
  .navbar-brand{
    color:black;
  }
  .social-icons-box{
    padding-right:3.9em;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition:0.4s;
    -webkit-transition: 0.4s;
    .social-icon{
      position:relative;
      margin-left:0.5em;
      margin-right:0.5em;
      color:$navbar_background_color;
    }
    .social-icon i:hover{
      color:$jumbotron_background_color;
    }
    .social-icon:active{
      top:5px;
    }
  }
}
// Jumbotron
.jumbotron{
  .title{
    margin-top:0.4em;
    font-family: $main_font_handwritten;
    text-align: center;
  }
  .content{
    font-family: $text_font;
    text-align: center;
    font-size: 1.2rem;
  }
  .main-photo{
    width:80px;
    height:80px;
    text-align: center;
    border-radius: 100%;
    @media screen and (max-width:768px){
      margin-top:2.5em;
    }
    @media screen and (min-width:768px){
      margin-top:1.0em;
    }
  }
}

.box-categories{

  @media screen and (max-width:768px){
    margin-bottom: 1.95em;
  }
  @media screen and (min-width:768px){
    margin-bottom:3.5em;
  }
}

// Featured header
.featured-header{
  width:100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: $main_font_handwritten;
  margin-bottom:0.8em;
  margin-top:0.4em;
}

//Featured section
.featured-section{
  padding:0 2.0em;
}
//Featured article
$anim_time_featured_category: 0.5s;
.featured-article{
  padding:0.4em;
  margin-left:0.2em;
  margin-right:0.2em;
  color:white;
  .title{
    font-size: 1.45rem;
    text-align: center;
    transition: $anim_time_featured_category;
    -moz-transition: $anim_time_featured_category;
    -o-transition:$anim_time_featured_category;
    -webkit-transition: $anim_time_featured_category;
  }
  .content{
    font-size: 0.90rem;
    text-align: center;
    transition: $anim_time_featured_category;
    -moz-transition: $anim_time_featured_category;
    -o-transition:$anim_time_featured_category;
    -webkit-transition: $anim_time_featured_category;
  }
}
.featured-article:hover{
  cursor: pointer;
  .title{
    font-size: 1.55rem;
  }
}
.featured-article-1{
  @extend .featured-article;
  background-image: url("lifestyle.jpg");
  -moz-background-image: url("lifestyle.jpg");
  -o-background-image: url("lifestyle.jpg");
  -webkit-background-image: url("lifestyle.jpg");
}
.featured-article-2{
  @extend .featured-article;
  background-image: url("manswear.jpg");
  -moz-background-image: url("manswear.jpg");
  -o-background-image: url("manswear.jpg");
  -webkit-background-image: url("manswear.jpg");
}
.featured-article-3{
  @extend .featured-article;
  background-image: url("travel-bag.jpg");
  -moz-background-image: url("travel-bag.jpg");
  -o-background-image: url("travel-bag.jpg");
  -webkit-background-image: url("travel-bag.jpg");
}
//Side menu
.side-menu{
  width: 100%;
  height:auto;
  background-color: $jumbotron_background_color;
  padding: 1.3em 1.6em;
  margin: 0.6em auto;
  h1{
    text-align: center;
    color:$navbar_background_color;
    font-size:1.3rem;
  }
}
//Footer
.footer{
  .bottom-footer{
    margin-top:1.2em;
    width:100%;
    padding:0.8em;
    background-color: $navbar_background_color;
    p{
      text-align: center;
      color:$site_background_color;
    }
  }
}